@media(min-width:768px) and (max-width:991px){

    .hg {
        min-height: 90vh;
    }
    .header-contant h1 {
        font-size: 34px;
    }
    .btn-download {
        font-size: 10px;
     
        padding: 14px 12px;
    }
    
    .btn-feature {
        font-size: 10px;
       
        padding: 14px 12px;
    
    }
    .head h1 {
        font-size: 22px;
        padding: 30px 0px;
    }
    .contact-form {
       
        width: 62%;
        top: 78%;
    }
    .button {
        padding: 0px 52px;
      
    }




}

@media(min-width:0px) and (max-width:767px){


    .phone {
        display: none;
    }
    .hg {
        
        text-align: center;
    }
    .navbar-nav{
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link {
       display: inline-block;
    }
    .navbar-light .navbar-nav .nav-item {
      
        margin: 5px 0;
    }
   
    .button {
       
        text-align: center;
      
        margin-top: -22px;
        margin-bottom: 8px;
    }
    .head h1 {
      
        font-size: 22px;
     
       
    }
    .price p {
     
        font-size: 16px;
    }
    .contact-form {
     
        width: 70%;
             
        margin-top: 88px;
            }
    
}


@media(min-width:0px) and (max-width:575px){
    .phone {
        
        display: none;
    }
    .hg {
        
        text-align: center;
    }
    .price p {
     
        font-size: 16px;
    }
    .price-section{

        width: 370px;
        }
    .button {
       
        text-align: center;
      
        margin-top: -22px;
        margin-bottom: 8px;
    }
    .head h1 {
      
        font-size: 22px;
     
       
    }
    .contact-form {
     
        width: 70%;
             
        margin-top: 88px;
 }
    
}

    @media(min-width:0px) and (max-width:375px){
 
    .contact-form {
        width: 80%;
        margin-top: 80px;
    }
    .contact-icon {
        padding: 15px 0;
    }
    .btn-download {
        margin-bottom: 12px;
    }
    .btn-feature {
        margin-bottom: 12px;
    }
    .client{
        
        width: 70%;
        }
        

.head h1 {
    margin-bottom: 30px;

}
.btn-download {
    font-size: 10px;
 
    padding: 14px 12px;
}

.btn-feature {
    font-size: 10px;
   
    padding: 14px 12px;

}
}