*{
    margin: 0;
    padding: 0;
}
.header{
    background-image:url(../images/banner-bg.png);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    margin-bottom: 100px;
    border-bottom: 1px solid #697d7e;
}
.navbar-brand{

   
    }
    .navbar-brand img{
    
        
    }
    span{
        background: #697d7e;
    height: 25px;
    width: 2px;
        
    } 
  
    .call{

margin: 15px;

}
    .call i{



color: #adbaba;



}
    .number{

    }
    .number h1{

font-size: 19px;

margin: 0px;

color: #adbaba;

}
    .navbar-light .navbar-nav .nav-link {
        
color: #fff;
        
font-size: 16px;
        
font-weight: 400;
        
font-family: 'Poppins', sans-serif;
        
text-transform: capitalize;
    }
        
.btn-getstarted {
        font-family: Roboto;
        background: #6b7f80;
        padding: 12px 28px;
        color: #fff;
        color: white;
        text-transform: capitalize;
      
    }

.navbar-nav{

align-items: center;
}
.banner-content{

}
.banner-content h5{

text-transform: capitalize;

color: #fff;

font-size: 25px;
}
.banner-content p{

font-size: 16px;

color: #fff;
}
..banner-content a{

}
.btn-learn {
    font-family: Roboto;
    background: #6fb048;
    padding: 12px 28px;
    color: #fff;
   
    text-transform: capitalize;
}
.feature {
    
  
    margin-top: 90px;
    margin-bottom: 90px;
}
.heading h5{
    margin-top: 60px;
    color: #0f5f5c;
    font-size: 30px;
    margin-bottom: 10px;
}
.heading span{
  
        display: inline-block;
        height: 2px;
        width: 40px;
       
        margin-bottom: 10px;
        
        background: #6b7f80;
}
.heading p{
    color: #0f5f5c;
    font-size: 16px;
    margin-bottom: 40px;
}
.feature-section{

}
.feature-contant{
margin-bottom: 60px;
}
.feature-image {

font-size: 25px;

margin-bottom: 10px;
}
.feature-image img{
color: #6fb048;
}
.feature-contant h1{
    color: #0f5f5c;
    font-size: 25px;
    margin-bottom: 10px;
}
.feature-contant p{
    color: #0f5f5c;
    font-size: 16px;
    margin-bottom: 20px;
}
.feature-span{

}
.feature-span span{
    display: inline-block;
    height: 50px;
    width: 5px;
   
    margin-bottom: 10px;
    
    background: #f2f2f2;   
}
 
.feature-span2{

}
.feature-span2 span{
    display: inline-block;
    height: 5px;
    width: 50px;
   
    margin-bottom: 10px;
    
    background: #f2f2f2; 
}

.feature-des{

}
.feature-heading{

  
}
.feature-heading h2{
   
    color: #0f5f5c;
    font-size: 25px;
    margin-bottom: 10px; 
      
}
.feature-heading h2 img{
    padding-right: 14px;
}
.f-span{
    align-items: center;
    position: relative;
    
    margin-bottom: 5%;

}
.f-span span{
    display: inline-block;
    width: 2px;
    height: 90px;
    background: #f2f2f2;
}
  

.f-span-two{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    
}
.f-span-two span{
    background: #f2f2f2;
    width: 90px;
    height: 2px;
} 

.feature-heading i{
    color: #6fb048;   
}
.feature-des p{
    color: #0f5f5c;
    font-size: 16px;
    margin-bottom: 50px;

}
.template{
    background-color:#eef1ec ;
}


.iphone{

}
.iphone img{
    
align-items: center;
    
width: 80%;
}
.iphone-des{

margin-top: 87px;
}
.iphone-des h5{
    color: #0f5f5c;
    font-size: 25px;
    margin-bottom: 10px;   
}
.iphone-des p{
    color: #0f5f5c;
    font-size: 16px;
    margin-bottom: 20px; 
}
.iphone-des h6{
    color: #0f5f5c;
    font-size: 16px;
    margin-bottom: 20px; 
}
.women{

    height: 500px;
    }
    .women-des{
        
    margin-top: 170px;
    }
    .women-des h2{
        color: #97b4b3;
        font-size: 19px;
        margin-top: 100px;
    }
    .women-des p {
        color: #c4dcb8;
        font-size: 16px;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .women-des h1{
        color: #97b4b3;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .women-img{
    
    margin-top: 74px;
    
    text-align: center;
    }
    .women-img img{
        
    width: 55%;
    }
    .details{
        background-color:#eef1ec ;
    }
    .details-des{
        margin-top: 99px;
    }
    .details-des h2{
        color: #0f5f5c;
        font-size: 25px;
        margin-bottom: 10px;     
    }
    .details-des p {
        color: #0f5f5c;
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .details-img{
        margin-top: 70px;
        
    }
    .details-img img{
       text-align: center; 
    }
    .pricing{
        padding: 30px 0;
        
    }
    .offers{
        text-align: center;
        margin-bottom: 50px;
       
        border: 1px solid #c1d3d2;

    }
    
    .plan{

        
    }
    
    .plan h2{
        color: #6fb048;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
        padding: 10px;
        
    }
    
    
   
    .ammount{
      
        
        
    }
  
    .ammount h1{
        font-size: 50px;
        margin: 0;
        padding-top: 20px;
        color: #0f5f5c;
        
    }
  
  
    

  
 
    .ammount p{
        color: #0f5f5c;
        font-size: 14px;
    

    
text-transform: uppercase;
    
display: inline-block;
    
margin-bottom: 20px;
    }
    .pricing-image{

    }
    .pricing-image img{
        color: #6fb048; 
    }
 
    .offers ul{
        padding: 0;

    }

    
    .offers ul li {
        font-size: 16px;
        color: #83a7a5;
        margin: 10px;
        list-style: none;
    }
   

    .btn-select{
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 50px;
        padding: 15px 40px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #83a7a5;
    }
    .offers:hover .btn-select{
        background-color: #6fb048;
        color: #fff;

    }
    .heading h2{
        color: #0f5f5c;
    }
    .plans{

    }
    .plans-icon{
        padding: 5px;

    }
    .plans-icon i{
        color: #c9d9d8;
    }
  
    .fa-check-circle:before {
    
        margin-right: 11px;
    }
    .heading2{
margin-top: 100px;
    }
    .heading2 h2{
color: #6fb048;
font-size: 25px;
    }
    .heading2 span{
        display: inline-block;
        height: 2px;
        width: 40px;
       
        margin-bottom: 10px;
        
        background: #6b7f80;
    }
    .heading2 p{
        font-size: 14px;
        color: #83a7a5;


    }
    .heading2 h5{
color: #0f5f5c;
font-size: 14px;
    }
    .download{
        background-image: url(../images/download-bg.png);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    }

    .btn-download{
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
       
        padding: 15px 40px;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #6fb048;
      
        margin: 75px;
    }
    .heading3{

    }
    .heading3 h2{
        margin-top: 60px;
        color: #0f5f5c;
        font-size: 25px;
      
    }
    .heading3 p{
        color: #0f5f5c;
        font-size: 14px;
       

    }
    .wapik{

        margin: 40px;
        
        }
            .wapik h5{color: #0f5f5c;
                font-size: 30px;}
            .wapik ul{
        
        list-style: none;
        
        padding: 0px;
        
        }
            .wapik ul li{
        color: #83a7a5;
        font-size: 14px;
            }
            .wapik h2{
               color: #0f5f5c;
               font-size: 20px; 
            }
            .wapik p{
                color: #cddcdb;
                font-size: 14px;
            }
            .email{
            
       
                position: relative;
                align-items: center;
                display: flex;
                margin-top: 15px;
            
            }
           
               .form-control{
                position: relative;
                background: #eef1ec;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 500;
                width: 240px;
                border: 2px solid #eef1ec;
            }
           



            .fa-paper-plane{
                position: absolute;
                background-color: transparent;
                width: 13%;
              
                right: 7%;
                border: none;
                color: #6FB048;
            }

            .footer{
                margin: 30px;
                            }
                            .footer h2{
                font-size: 16px;
                color: #83a7a5;
                            }
                            .footer-icon{
                                
                                            }
                .footer-icon ul{
                
         
                list-style: none;
                
                display: flex;
                
                justify-content: flex-end;
                }              
                    
                .footer-icon ul li{
                
                padding: 0px 3px;
                
                display: inline-block;
         
                
                border-radius: 50px;
                }
                .footer-icon ul li i{
                
               
                
                padding: 5px;
                
                border-radius: 50px;
                
                color: #fff;
                }
                .fa-twitter{
                    background-color: #55acee;
                }
                .fa-facebook-f{
                    background-color: #3b5998;
                }
                .fa-instagram{
                    background-color: #3f729b;
                }
                .fa-dribbble{
                    background-color: #ea4c89;
                }
                .fa-github{
                    background-color: #333333;
                }
               
            


